{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"experimentalOperatorPosition": "start",
	"printWidth": 80,
	"plugins": [
		"prettier-plugin-svelte",
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"experimentalTernaries": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css",
	"importOrder": [
		"<BUILTIN_MODULES>",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^\\./\\$types",
		"",
		"^\\$(?!lib/)",
		"",
		"^\\$lib/(?!data|components|pages|atoms)",
		"",
		"^\\$lib/atoms(/.*)?$",
		"",
		"^\\$lib/components(/.*)?$",
		"",
		"^\\$lib/pages(/.*)?$",
		"",
		"^\\$lib/data(/.*)?$",
		"",
		"^[.]"
	]
}
